.photo-grid__item {
  max-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1279px) {
  .photo-grid__item {
    max-width: 300px;
    min-height: 225px;
  }
}

@media screen and (max-width: 1040px) {
  .photo-grid__item {
    max-width: 352px;
    min-height: 264px;
  }
}

@media screen and (max-width: 784px) {
  .photo-grid__item {
    max-width: 288px;
    min-height: 216px;
  }
}
