.lead__image {
  margin: 0;
  object-fit: contain;
  display: flex;
  margin-top: 64px;
  max-width: 984px;
  max-height: 615px;
}
@media screen and (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
  }
}
@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}
