.lead__image {
  margin: 0;
  object-fit: contain;
  display: flex;
  margin-top: 64px;
  max-width: 984px;
  min-height: 615px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    margin-top: 56px;
    min-height: 580px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
    min-height: 200px;
  }
}
